<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <%= content_tag(:span, flash.alert, class: 'alert') if flash.alert %>
      <%= content_tag(:span, flash.notice, class: 'notice') if flash.notice %>
    </div>
  </div>
</div>

<div class="container" style="margin-top: 10px">
  <div class="row">
    <div class="col-xs-12">
      <%= link_to '戻る', :kakeis, {class: "btn btn-default btn-sm"} %>　
    </div>
  </div>
</div>

<div class="container">
  <%= form_for @new_monthly_payment do |f| %>
    <table class="table-condensed">
      <tbody>
      <tr class="form-group">
        <th><%= f.label :category_id, '分類' %></th>
        <td><%= f.collection_select :category_id, Category.where(usage: 1), :id, :name, {include_blank: true}, {class: "form-control", required: true} %></td>
      </tr>

      <tr class="form-group">
        <th><%= f.label :naiyou, '内容' %></th>
        <td><%= f.text_field :naiyou, {class: "form-control", required: true} %></td>
      </tr>

      <tr class="form-group">
        <th><%= f.label :kingaku, '金額' %></th>
        <td><%= f.number_field :kingaku, {min: 1, autocomplete: :off, class: "form-control", required: true} %></td>
      </tr>

      <tr class="form-group form-inline" >
        <th><%= f.label :credit_flag, 'クレジットカード' %></th>
        <td><%= f.check_box :credit_flag, {class: "form-control"} %></td>
      </tr>

      <tr>
        <td colspan="2">
          <%= f.submit '登録', name: :regist, class: "btn btn-default btn-sm" %>
        </td>
      </tr>
      </tbody>
    </table>
  <% end %>
</div>

<div class="container" style="margin-top: 20px">
  <table class="table-bordered table-striped table-hover table-condensed" style="background-color: white;border: solid 1px #000000">
    <thead>
    <tr>
      <th width="85">分類</th>
      <th width="300">内容</th>
      <th width="70">収入</th>
      <th width="70">出費</th>
      <th width="60">CC</th>
      <th width="90">　</th>
    </tr>
    </thead>

    <tbody>
    <%
      syunyu = 0
      syupi = 0
      card = 0
    %>
    <% @monthly_payments.each do |payment| %>
      <tr>
        <td style="white-space: nowrap; text-align: center"> <%= payment.category.name %> </td>
        <td> <%= payment.naiyou %> </td>
        <td style="text-align: right"> <%= if payment.category.id == 7 || payment.category.id == 10 then number_to_currency(payment.kingaku) end %> </td>
        <td style="text-align: right"> <%= unless payment.category.id == 7 || payment.category.id == 10 then number_to_currency(payment.kingaku) end %> </td>
        <td style="text-align: center"> <%= if payment.credit_flag == 1 then "●" end %> </td>
        <td style="text-align: center">
          <%= link_to '変更', edit_monthly_payment_path(id: payment.id),  class: "btn btn-default btn-xs" %>
          <%= link_to '削除', payment, method: :delete, class: "btn btn-default btn-xs", data: {confirm: "#{payment.naiyou}:#{payment.kingaku.to_s}円を削除します。"} %>
        </td>
      </tr>
      <%
        if payment.category.id == 7 || payment.category.id == 10
          syunyu += payment.kingaku
        else
          syupi += payment.kingaku
          if payment.credit_flag == 1
            card += payment.kingaku
          end
        end
      %>
    <% end %>
    </tbody>
    <tfoor>
      <tr>
        <td colspan="2" style="text-align: right">合計</td>
        <td style="text-align: right"><%= number_to_currency(syunyu) %></td>
        <td style="text-align: right"><%= number_to_currency(syupi) %></td>
        <td style="text-align: right"><%= number_to_currency(card) %></td>
        <td>　</td>
      </tr>
    </tfoor>
  </table>
</div>
