<div class="container" style="margin-top: 10px">
  <div class="row">
    <div class="col-xs-12">
      <%= link_to '戻る', :kakeis, class: "btn btn-link" %>
    </div>
  </div>
</div>

<div class="container" style="margin-top: 20px">
  <table class="table-bordered table-striped table-hover table-condensed" style="background-color: white;">
    <thead>
    <tr>
      <th style="width: 100px">年月</th>
      <% Category.all.each do |category| %>
        <% unless category.id == 7 || category.id == 10 %>
          <th style="width: 100px" ><%= category.name %></th>
        <% end %>
      <% end %>
      <th style="width: 100px">現金出費</th>
      <th style="width: 100px">CC利用額</th>
      <th style="width: 100px">出費合計</th>
      <th style="width: 100px">収入</th>
      <th style="width: 100px">その他収入</th>
      <th style="width: 100px">収入合計</th>
    </tr>
    </thead>

    <tbody>
    <% @summary.each do |month| %>
        <tr>
          <td style="text-align: center"><%= link_to month.sumYM, action: :monthly, year: month.sumYM[0,4], month: month.sumYM[5,2] %></td>
          <td style="text-align: right"><%= number_to_currency(month.sum01) %></td>
          <td style="text-align: right"><%= number_to_currency(month.sum02) %></td>
          <td style="text-align: right"><%= number_to_currency(month.sum03) %></td>
          <td style="text-align: right"><%= number_to_currency(month.sum04) %></td>
          <td style="text-align: right"><%= number_to_currency(month.sum09) %></td>
          <td style="text-align: right"><%= number_to_currency(month.sum05) %></td>
          <td style="text-align: right"><%= number_to_currency(month.sum06) %></td>
          <td style="text-align: right"><%= number_to_currency(month.sum08) %></td>
          <td style="text-align: right"><%= number_to_currency(month.genkin) %></td>
          <td style="text-align: right"><%= number_to_currency(month.credit) %></td>
          <td style="text-align: right"><%= number_to_currency(month.total) %></td>
          <td style="text-align: right"><%= number_to_currency(month.sum07) %></td>
          <td style="text-align: right"><%= number_to_currency(month.sum10) %></td>
          <td style="text-align: right"><%= number_to_currency(month.sum07 + month.sum10) %></td>
        </tr>
    <% end %>
    </tbody>

    <tfoot>
    <tr>
      <th style="width: 100px">年月</th>
      <% Category.all.each do |category| %>
          <% unless category.id == 7 || category.id == 10 %>
              <th style="width: 100px" ><%= category.name %></th>
          <% end %>
      <% end %>
      <th style="width: 100px">現金出費</th>
      <th style="width: 100px">CC利用額</th>
      <th style="width: 100px">出費合計</th>
      <th style="width: 100px">収入</th>
      <th style="width: 100px">その他収入</th>
      <th style="width: 100px">収入合計</th>
    </tr>
    </tfoot>

  </table>
</div>
